page {
	height: 100%;
	font-size: 32rpx;
}

.fs-10 {
	font-size: 20rpx;
}
.fs-11 {
	font-size: 22rpx;
}

.fs-12 {
	font-size: 24rpx;
}

.fs-13 {
	font-size: 26rpx;
}

.fs-14 {
	font-size: 28rpx;
}

.fs-15 {
	font-size: 30rpx;
}

.fs-16 {
	font-size: 32rpx;
}


.fs-17 {
	font-size: 34rpx;
}

.fs-18 {
	font-size: 36rpx;
}

.fs-19 {
	font-size: 38rpx;
}

.fs-20 {
	font-size: 40rpx;
}

.fs-24 {
	font-size: 48rpx;
}
.fs-22 {
	font-size: 44rpx;
}
.fs-25 {
	font-size: 50rpx;
}
.fs-28 {
	font-size: 56rpx;
}

.fs-30 {
	font-size: 60rpx;
}

.fs-32 {
	font-size: 64rpx;
}
.fs-36 {
	font-size: 72rpx;
}

.fw-4 {
	font-weight: 400;
}

.fw-5 {
	font-weight: 500;
}

.fw-6 {
	font-weight: 600;
}

.fw-8 {
	font-weight: 800;
}

.mt-10{
	margin-top: 20rpx;
}